* {
  margin: auto;
  box-sizing: border-box;
  }

html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: black;
    position: fixed;
    width: 100%;
    padding: 5px;
}

@-webkit-keyframes MOVE-BG {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 200% 200%;
  }
}

body {
  font-size: 20px;
  background-image: url('/happy-ice-cream.gif');
  background-repeat: repeat;
  background-color: white;
  background-size: 500px;

	-webkit-animation-name: MOVE-BG;
	-webkit-animation-duration: 120s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

nav li {
    color: white;
    display: inline-block;
    width: 33%;
    min-width: 300px;
    text-align: center;
}


h1 {
    color: red;
    text-align: center;
    padding-top: 50px;
    font-size: 120px;
    font-weight: lighter;
    text-shadow: .03em .03em black;
}

h3 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-decoration: underline;
  text-shadow: 0.03em .03em white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
  font-size: 40px;
}


table {
  border: 2px solid black;
  border-radius: 10px;
  line-height: 40px;
  width: 90%;
  background-color: white;
}

th {
  width: 10%;
  font-size: 30px;
}

tr {
  width: 00px;
}

.schedules {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 100;
  text-shadow: .03em .03em white;
}

#fullstack,
#cs50,
#gaming,
#design {
  font-weight: bold;
}

#fullstack {
  background-color: #728FCE;
}

#cs50 {
  background-color: lightgreen;
}

#gaming {
  background-color: pink;
}

#design {
  background-color: lightsteelblue;
}

#freeproject {
  background-color: cyan;
}

.subjects {

}

/*old box codes

.row {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  letter-spacing: .2px;
}


.column {
  display: inline-flex;
  margin-left: 1%;
  margin-bottom: 70px;
  width: 23.535%;
  min-width: fit-content;
  border: 2px solid purple;
  border-radius: 5px;
  background-color: white;
  text-shadow: 1px 1px white;
}

end*/

#havenotlearn {
  color: gray;
  opacity: 0.7;
}

.container {
  display: block;
  text-align: center;
  margin-bottom: 100px;
  overflow: auto;
  line-height: 22px;
  letter-spacing: .05em;
  width: 97%;
}

.fullstack-container {
  display: inline-block;
  width: 20%;
  min-width: 200px;
  border: 2px black solid;
  border-radius: 10px;
  vertical-align: top;
  height: 150px;
  margin-left: 0px;
  margin-bottom: 1%;
  background-color: white;
}

.cs50-container,
.gaming-container,
.design-container {
  display: inline-block;
  width: 20%;
  min-width: 200px;
  border: 2px black solid;
  border-radius: 10px;
  vertical-align: top;
  height: 150px;
  margin-left: 4%;
  margin-bottom: 1%;
  background-color: white;
}
.container .fullstack-container h4 {
  background-color: #728FCE;
  border: solid 1px #728FCE;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 20px;
  text-shadow: 0.03em 0.03em white;
  padding: 2px;
}

.container .cs50-container h4 {
  background-color: lightgreen;
  border: solid 1px lightgreen;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 20px;
  text-shadow: 0.03em 0.03em white;
  padding: 2px;
}

.container .gaming-container h4 {
  background-color: pink;
  border: solid 1px pink;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 20px;
  text-shadow: 0.03em 0.03em white;
  padding: 2px;
}

.container .design-container h4 {
  background-color: lightsteelblue;
  border: solid 1px lightsteelblue;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 20px;
  text-shadow: .03em .03em white;
  padding: 2px;
}

.container p {
  font-size: 18px;
  font-weight: lighter;
  margin-top: 4px;
}



.button-panel {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  text-align: center;
  border: 2px solid red;
  background-color: red;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100px;
  width: 330px;
  padding: auto;
  box-shadow: 2.4px 2.4px black;
  font-size: 33px;
  text-shadow: 0.04em .04em black;
  color: white;
}


.button:hover {
  font-weight: 600;
  cursor: pointer;
}

.button:active {
  font-weight: normal;
  box-shadow: none;
  text-shadow: none;
  margin: 2.4px 0px 0px 2.4px;
}

footer {
  position: fixed;
  height: 60px;
  background-color: black;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

footer p {
  text-shadow: 1px 1px white;
  color: red;
  font-size: 40px;
  text-align: center;
}
